// @import '../../assets/scss/variables.scss';
// @import '../../assets/scss/mixins.scss';
// @import 'sass-rem';

.loading_normal {
  color: #308fe8 !important;
}

// .loading_standard {
//   color: $border-grey !important;
// }

.default {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: translate(-50%, -50%);
  z-index: 1;
}
