.layer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://admin.hidemeplease.xyz/assets/images/bg-login.png);
  background-size: cover;
  form {
    width: 100%;
    .layer-content {
      background: white;
      padding: 20px;
      width: 100%;
      max-width: 540px;
      margin:  0 auto;
    }
    .row-item {
      margin-bottom: 15px;
    }
    .btn-login {
      button {
        width: 100%;
        padding: 10px 15px;
      }
    }
    .w-100 {
      width: 100%;
    }
  }
  
}