.form-data {
  position: relative;
  .row-item {
    display: flex;
    margin-bottom: 25px;
    > label {
      width: 150px;
      margin-top: 15px;
    }
    .layerInput {
      flex: 1 0;
    }
    .hidden {
      display: none;
    }
    .btn-item {
      padding-left: 15px;
      button {
        padding: 12px 15px;
      }
    }
  }
}